body{
    background-color: #1a1a1a;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    "header header header header header"
    "nav1 nav2 nav3 nav4 nav5"
    "sidebar content content content sidebar2"
    "footer footer footer footer footer"
}
.header{
    grid-area: header;
    text-align: center;
    font-style: italic;
    background-color:#ff3333;
    padding: 20px;
}
.sidebar{
    grid-area: sidebar;
    background: #ff3333;
}
.sidebar2{
    grid-area: sidebar2;
    background: #ff3333;
}
.nav1{
    grid-area: nav1;
    text-align: center;
    background-color:#1a1a1a;
    padding: 15px;
}
.nav2{
    grid-area: nav2;
    text-align: center;
    background-color: #1a1a1a;
    padding: 15px;
}
.nav3{
    grid-area: nav3;
    text-align: center;
    background-color: #1a1a1a;
    padding: 15px;
}
.nav4{
    grid-area: nav4;
    text-align: center;
    background-color: #1a1a1a;
    padding: 15px;
}
.nav5{
    grid-area: nav5;
    text-align: center;
    background-color: #1a1a1a;
    padding: 15px;
}
.content{
    grid-area: content;
    background-color: #ff1a1a;
}
.footer{
    grid-area: footer;
    background-color: #1a1a1a;
    text-align: center;
}
a:link{
    display: inline-block;
    text-decoration: none;
}
.raudur{
    color: red;
    font-weight: bold;
    font-style: italic;
}
.midja{
    text-align: center;
}
.ska{
    font-style: italic;
    font-weight: bold;
    color: black;
}
